.scoreBar {
    position: fixed;
    display: flex;
    top: 5%;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    z-index: 5;
    .container {
        display: flex;
        width: 52%;
        padding: 20px 24px;
        border-radius: 16px;
        border: 2px solid var(--HeaderOutline);
        align-items: center;
        justify-content: space-between;
        >div:first-child {
            display: flex;
            align-items: center;
            img {
                width: 100%;
            }
        }
    }
    .scoreBox {
        background-color: white;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px 46px;
    }
    .text {
        text-transform: uppercase;
        letter-spacing: 2px;
        color: var(--ScoreText);
    }
    .score {
        font-size: 3.8rem;
        color: var(--DarkText);
        line-height: 1;
    }
}
@media (max-width: 768px) {
    .scoreBar {
        top: 3%;
        .container {
            padding: 16px;
            width: 85%;
            border-radius: 6px;
            >div:first-child {
                width: 30%;
            }
        }
        .scoreBox {
            padding: 10px 20px;
        }
    }
}